{% load static %}
<footer>
    <div class="w-100 pt-70 bg-color14 text-color15 position-relative">
        <div class="scroll-top-btn position-absolute"><a href="javascript:void(0);" title=""><i class="metaicon-arrow-pointing-to-up"></i></a></div>
        <div class="container">
            <div class="footer-wrap d-flex flex-wrap w-100">
                <div class="footer-about">
                    <div class="logo d-block">
                        <a href="#intro" title="Home"><img class="img-fluid" src="/static/assets/images/footer-logo.png" alt="Footer Logo"></a>
                    </div><!-- Logo -->
                    <p class="mb-0">We’re on a mission to build a better future where technology creates good jobs for everyone.</p>
                </div><!-- Footer About -->
                <div class="footer-widget-wrap">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="widget w-100">
                                <h4 class="text-white">Contact</h4>
                                <ul class="mb-0 list-unstyled">
                                    <li><a href="javascript:void(0);" title="">Installation</a></li>
                                    <li><a href="javascript:void(0);" title="">Loging in</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="widget w-100">
                                <h4 class="text-white">Links</h4>
                                <ul class="mb-0 list-unstyled">
                                    <li><a href="about.html" title="">About us</a></li>
                                    <li><a href="services.html" title="">Services</a></li>
                                    <li><a href="javascript:void(0);" title="">Projects</a></li>
                                    <li><a href="javascript:void(0);" title="">Our Team</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <div class="widget w-100">
                                <h4 class="text-white">Links</h4>
                                <ul class="mb-0 list-unstyled">
                                    <li><a href="contact.html" title="">Contact us</a></li>
                                    <li><a href="blog-2column.html" title="">Blog</a></li>
                                    <li><a href="javascript:void(0);" title="">Testimonials</a></li>
                                    <li><a href="javascript:void(0);" title="">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-3">
                            <!--Newslatter Form-->
                            <div class="widget w-100" id="email-form">
                                <h4 class="text-white">Subscribe</h4>
                                <form class="position-relative w-100" method="post" action="#" id="subscribe-form">
                                    <div class="form-group"><div class="response"></div></div>

                                    <input type="email" name="email" class="email" value="" placeholder="Your Email">
                                    <button type="button" id="subscribe-newslatters"><i class="metaicon-send-button"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Wrap -->
            <div class="footer-content-wrap align-items-center d-flex justify-content-between flex-wrap w-100">
                <div class="footer-content-inner">
                    <ul class="mb-0 d-flex list-unstyled">
                        <li class="text-white"><a href="8006000020.html" title=""><i class="fas fa-phone-alt text-color15"></i>800 - 600 - 0020</a></li>
                        <li class="text-white"><i class="far fa-map text-color15"></i>Tashkent, Uzbekistan</li>
                    </ul>
                </div>
                <div class="scl-links2">
                    <a href="javascript:void(0);" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="javascript:void(0);" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0);" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0);" title="Youtube" target="_blank"><i class="fab fa-weixin"></i></a>
                </div>
            </div><!-- Footer Content Wrap -->
            <div class="copyright w-100">
                <p class="mb-0">Copyright &copy; 2021. All Right Reserved.</p>
            </div><!-- Copyright -->
        </div>
    </div>
</footer>