{% load static %}
<footer>
    <div class="w-100 pt-70 bg-color14 text-color15 position-relative">
        <div class="scroll-top-btn position-absolute"><a href="#" title=""><i class="metaicon-arrow-pointing-to-up"></i></a></div>
        <div class="container">
            <div class="footer-wrap d-flex flex-wrap w-100">
                <div class="footer-about">
                    <div class="logo d-block">
                        <a href="#intro" title="Home"><img class="img-fluid" src="/static/assets/images/footer-logo.png" alt="Footer Logo"></a>
                    </div><!-- Logo -->
                    <p class="mb-0">We’re on a mission to build a better future where technology creates good jobs for everyone.</p>
                </div><!-- Footer About -->
      

            </div><!-- Footer Wrap -->
            <div class="footer-content-wrap align-items-center d-flex justify-content-between flex-wrap w-100">
                                <div class="scl-links2">
                    <a href="javascript:void(0);" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="javascript:void(0);" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0);" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0);" title="Youtube" target="_blank"><i class="fab fa-weixin"></i></a>
                </div>

                <div class="footer-content-inner">
                    <ul class="mb-0 d-flex list-unstyled">
                        <li class="text-white"><a href="#" title=""><i class="fas fa-phone-alt text-color15"></i>800 - 600 - 0020</a></li>
                        <li class="text-white"><i class="far fa-map text-color15"></i>Tashkent, Uzbekistan</li>
                    </ul>
                </div>

            </div><!-- Footer Content Wrap -->
            <div class="copyright w-100 text-center">
                <p class="mb-0">Copyright &copy; 2021. All Right Reserved.</p>
            </div><!-- Copyright -->
        </div>
    </div>
</footer>