{% load static %}
<div id="mta-page-loader-container" class="mta-loader-container style1">
    <div id="mta-page-loader" class="mta-loader">
        <div class="inner"></div>
        <img class="loader-logo" src="/static/assets/images/loader-logo.png" alt="Loader Logo">
    </div>
</div>
<header class="stick style1 logo-left">
    <div class="container d-flex flex-row justify-content-between flex-nowrap">
        <div class="header-nav-wrap w-100">
            <nav class="nav-wrap d-flex flex-row align-items-center justify-content-between flex-nowrap">
                <div class="menu-wrap d-flex flex-row justify-content-start flex-nowrap w-100">
                    <div class="logo">
                        <a class="desktop-logo" href="#intro" title="Home">
                            <img class="default-logo img-fluid" src="/static/assets/images/logo.png" alt="Logo" srcset="assets/images/logo.png 2x">
                            <img class="sticky-logo img-fluid" src="/static/assets/images/logo2.png" alt="Logo" srcset="assets/images/logo2.png 2x">
                        </a>
                    </div><!-- Logo -->
                    <div class="menu d-flex flex-row align-items-center justify-content-end flex-nowrap w-100">
                        <ul class="main-menu mb-0 list-unstyled d-flex flex-row align-items-center justify-content-start flex-wrap">
                            <li><a href="#intro" title="" >Bosh sahifa</a>
                            </li>
                            <li><a href="#service" title="">Xizmatlar</a>
                            </li>
                            <li><a href="#about" title="">Biz haqimizda</a>
                            </li>
                            <li><a href="#process" title="">Jarayonlar</a></li>
                            <li><a href="#contact" title="">Aloqa</a></li>
                            <li class="menu-item-has-children"><a href="#" title="">Tilni tanlash</a>
                                <ul class="children mb-0 list-unstyled">
                                    <li><a href="#" title="">Русский</a></li>
                                    <li class="active-clr"><a href="#" title="">O'zbekcha</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- Menu -->
                </div>
            </nav>
        </div><!-- Header Nav Wrap -->
    </div>
</header><!-- Header -->